* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/* ======================== < Helper CSS > ======================== */
ul {
    list-style: none;
    margin-bottom: 0;
}

a:link,
a:visited {
    text-decoration: none;
}

.main_Slider .head-btn {
    padding: 20px 70px 18px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.primary-btn {
    background-color: #00bc9c;
    color: #fff;
    border: 1px solid #00bc9c;
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus {
    background-color: #fff;
    color: #00bc9c;
}

.carousel-indicators {
    /* background: #fff; */
    bottom: -40px;
    /* transform: translateX(-50%);
    margin-left: 0;
    padding: 0px 10px; */
}

.carousel-indicators li {
    border: 1px solid #506a85;
    background-color: #506a85;
}

.carousel-indicators .active {
    border: 1px solid #00bc9c;
    background-color: #00bc9c;
}

.heading-pri{
    font-size: 44px;
    color: #506a85;
    margin-bottom: 30px;
}
.para{
    font-size: 22px;
    color: #73879c;
    font-family: 'Source Sans Pro', sans-serif;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-45{
    margin-bottom: 45px;
}